<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.justup.upme">

    <!-- {packagename} will be replaced by the actual packagename -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!--Accounts-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />

    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="{packagename}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="{packagename}.permission.C2D_MESSAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <!--Launcher - down - -->
    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:description="@string/permdesc_install_shortcut"
        android:label="@string/permlab_install_shortcut"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />

    <permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        android:description="@string/permdesc_uninstall_shortcut"
        android:label="@string/permlab_uninstall_shortcut"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--Launcher ^ up ^-->

    <application
        android:name=".JustUpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:largeHeap="@bool/config_largeHeap">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />

        <service android:name=".http.HttpIntentService" />
        <service android:name=".services.GPSTracker" />
        <service android:name=".gcm.GCMIntentService" />
        <service android:name=".services.StatusBarService" />
        <service android:name=".services.PushIntentService" />
        <service android:name=".services.FileExplorerService" />
        <service android:name=".services.SoundNotifyService" />
        <service android:name=".services.ApplicationSupervisorService" />

        <receiver
            android:name=".gcm.WakefulGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="{packagename}" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:taskAffinity="me.justup.upme.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:uiOptions="splitActionBarWhenNarrow" />

        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateHidden|adjustResize"

            android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="uplaunchm" />

                <category android:name="uplaunchh" />
                <category android:name="uplaunchd" />
            </intent-filter>

        </activity>

        <activity
            android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />

        <receiver android:name="me.justup.upme.utils.BootReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter android:priority="999999999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <receiver android:name="me.justup.upme.utils.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!--Launcher - down - -->
        <activity
            android:name="me.justup.upme.launcher.WallpaperChooser"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_launcher_wallpaper"
            android:label="@string/pick_wallpaper"
            android:process=":wallpaper_chooser"
            android:theme="@style/Theme.WallpaperPicker" >
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.wallpaper.preview"
                android:resource="@xml/wallpaper_picker_preview" />
        </activity>

        <!-- Intent received used to prepopulate the default workspace. -->
        <receiver
            android:name="me.justup.upme.launcher.PreloadReceiver"
            android:permission="com.android.launcher.permission.PRELOAD_WORKSPACE" >

            <intent-filter>
                <action android:name="com.android.launcher.action.PRELOAD_WORKSPACE" />
            </intent-filter>

        </receiver>

        <!-- Intent received used to install shortcuts from other applications -->
        <receiver
            android:name="me.justup.upme.launcher.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to uninstall shortcuts from other applications -->
        <receiver
            android:name="me.justup.upme.launcher.UninstallShortcutReceiver"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT" >
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- New user initialization; set up initial wallpaper -->
        <receiver
            android:name="me.justup.upme.launcher.UserInitializeReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>

        <!-- The settings provider contains Home's data, like the workspace favorites -->
        <provider
            android:name="me.justup.upme.launcher.LauncherProvider"
            android:authorities="com.android.launcher22.settings"
            android:exported="true"
            android:readPermission="com.android.launcher.permission.READ_SETTINGS"
            android:writePermission="com.android.launcher.permission.WRITE_SETTINGS" />

        <meta-data
            android:name="android.nfc.disable_beam_default"
            android:value="true" />
        <!--Launcher ^ up ^-->

        <!--AppRTC Second point to app - down - -->
        <activity android:name="me.justup.upme.apprtc.ui.ConnectActivity"
                  android:theme="@style/ConnectActivity"
                  android:icon="@mipmap/ic_launcher"
                  android:label="AppRTC"
                  android:taskAffinity="me.justup.upme.apprtc.ui.ConnectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="me.justup.upme.apprtc.ui.SettingsActivity"
            android:theme="@style/ConnectActivity"
            android:label="UpRTC Settings"/>

        <activity
            android:name="me.justup.upme.apprtc.ui.CallActivity"
            android:configChanges="orientation|screenSize"
            android:label="AppRTC"
            android:screenOrientation="fullUser"
            android:theme="@style/CallActivityTheme"/>
        <!--AppRTC Second point to app ^ up ^ -->

        <!--Request service-->
        <service
            android:name="me.justup.upme.api_rpc.request_model.RequestService"
            android:exported="false" />

        <activity
            android:name="me.justup.upme.RequestTestActivity"
            android:label="UpMe Request Test"/>

        <!--Sync DB -->
        <!--http://www.c99.org/2010/01/23/writing-an-android-sync-provider-part-2/-->
        <!--http://habrahabr.ru/sandbox/27407/-->

        <!--Login Activity-->
        <activity
            android:name="me.justup.upme.db_upme.account_activity.AccountAuthActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:excludeFromRecents="true"
            android:label="Регистрация нового аккаунта"
            android:screenOrientation="portrait" />

        <!--Fail Activity-->
        <activity
            android:name="me.justup.upme.db_upme.account_activity.AccountFailActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait" />

        <!--Authorisation service-->
        <service
            android:name="me.justup.upme.db_upme.sync_service.AccountAuthenticatorService"
            android:exported="false"
            android:process=":auth">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/sync_authenticator" />
        </service>

        <!--Calendar Event Service-->
        <service
            android:name="me.justup.upme.db_upme.sync_service.EventCalendarSyncAdapterService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_event_calendar" />
        </service>

        <!--Mail Contact Service-->
        <service
            android:name="me.justup.upme.db_upme.sync_service.MailContactSyncAdapterService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_mail_contact" />
        </service>

        <!--Product Categories Service-->
        <service
            android:name="me.justup.upme.db_upme.sync_service.ProductCategoriesSyncAdapterService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_product_categories" />
        </service>

        <!--Short News Service-->
        <service
            android:name="me.justup.upme.db_upme.sync_service.ShortNewsSyncAdapterService"
            android:exported="true">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_short_news" />
        </service>

        <provider
            android:name="me.justup.upme.db_upme.providers.ActionTileMenuProvider"
            android:authorities="@string/content_authority_tile_menu"
            android:exported="false"
            android:label="@string/sync_tile_menu_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.BrandCategoriesProvider"
            android:authorities="@string/content_authority_product_brand"
            android:exported="false"
            android:label="@string/sync_brand_categories_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.EducationModulesMaterialProvider"
            android:authorities="@string/content_authority_education_module_material"
            android:exported="false"
            android:label="@string/sync_education_modules_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.EducationProductModuleProvider"
            android:authorities="@string/content_authority_education_product_module"
            android:exported="false"
            android:label="@string/sync_education_product_module_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.EducationProductProvider"
            android:authorities="@string/content_authority_education_product"
            android:exported="false"
            android:label="@string/sync_education_product_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.EventCalendarProvider"
            android:authorities="@string/content_authority_event_calendar"
            android:exported="false"
            android:label="@string/sync_event_calendar_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.FullNewsProvider"
            android:authorities="@string/content_authority_full_news"
            android:exported="false"
            android:label="@string/sync_full_news_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.IsShortNewsReadProvider"
            android:authorities="@string/content_authority_is_short_news_read"
            android:exported="false"
            android:label="@string/sync_short_news_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.MailContactProvider"
            android:authorities="@string/content_authority_mail_contact"
            android:exported="false"
            android:label="@string/sync_mail_contact_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.NewsCommentsProvider"
            android:authorities="@string/content_authority_short_news_comments"
            android:exported="false"
            android:label="@string/sync_news_comment_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.ProductHTMLProvider"
            android:authorities="@string/content_authority_product_html"
            android:exported="false"
            android:label="@string/sync_product_html_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.ProductsCategoriesProvider"
            android:authorities="@string/content_authority_product_categories"
            android:exported="false"
            android:label="@string/sync_product_categories_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.ProductsProductProvider"
            android:authorities="@string/content_authority_products_product"
            android:exported="false"
            android:label="@string/sync_products_product_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.ShortNewsProvider"
            android:authorities="@string/content_authority_short_news"
            android:exported="false"
            android:label="@string/sync_short_news_provider_title"/>

        <provider
            android:name="me.justup.upme.db_upme.providers.StatusBarPushProvider"
            android:authorities="@string/content_authority_status_bar_push"
            android:exported="false"
            android:label="@string/sync_push_object_provider_title"/>

    </application>

</manifest>
